.ieq-aptitude {
  &__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1 {
      max-width: 632px;
    }
    p {
      margin-top: 24px;
      max-width: 536px;
    }
  }
}
