.ieq-aptitude {
  @media (min-width: 1200px) {
    min-height: 100%;
  }
  &__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // min-height: 132px;
    h2 {
      max-width: 330px;

      @media (min-width: 768px) {
        max-width: 500px;
      }

      @media (min-width: 1200px) {
        max-width: 936px;
      }
    }
    p {
      margin-top: 24px;
      max-width: 536px;
    }
  }
  video {
    border-radius: 40px;
    max-height: 100%;
    @media (min-width: 1200px) {
      min-height: 836px;
    }
  }
}
