.top-candidate-section {
    background-color: #fff;

    .tc-img-wrapper {
        width: 1416px;
        height: 764px;
        border-radius: 30px;
    }

    .tc-description {
        color: #444;
        width: 627px;
        text-align: center;
    }
}