.top-candidate-section {
    background-color: #fff;

    .tc-img-wrapper {
        max-height: 764px;
        border-radius: 30px;
    }

    .tc-description {
        color: #444;
        text-align: center;
    }

    .top-candidate-desc {
        p {
            color: #444;
            max-width: 100%;
            @media (min-width: 768px) {
                max-width: 627px;
            }
        }
    }
}