.top-candidate-section {
    background-color: #fff;

    .tc-img-wrapper {
        max-height: 764px;
        border-radius: 30px;
    }

    .tc-description {
        color: #444;
        text-align: center;
    }
}