.ieq-recruiters-banner {
    position: relative;
    height: calc(100vh - 92px);
    @media (min-width: 1200px) {
      height: calc(100vh - 88px);
    }
    &__bg {
      width: 100%;
      height: auto;
      @media (min-width: 1200px) {
        height: 100%;
        transform: translateY(-88px);
      }
    }
  
    &__content {
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      max-width: 915px;
      width: 80%;
      left: 50%;
      bottom: 10%;
      transform: translate(-50%, -10%);

      @media (min-width: 768px) {
        width: 100%;
      }
      p {
        margin-top: 24px;
        max-width: 668px;
      }
  
      button {
        margin-top: 40px;
      }
    }
  }