.ieq-banner {
  padding-top: 112px;
  padding-bottom: 80px;
  // z-index: 3;
  // position: relative;

  @media (min-width: 1200px) {
    height: 300vh;
  }

  @media (min-width: 1200px) {
    padding: 112px 0 0 0;
  }

  &.hide-element {
    h1 {
      transform: translateY(30px);
      opacity: 0;
    }
    button {
      transform: translateY(30px);
      opacity: 0;
    }
    canvas {
      transform: translateY(30px);
      opacity: 0;
    }
  }
  &.show-element {
    h1 {
      transform: translateY(0px);
      opacity: 1;
    }
    button {
      transform: translateY(0px);
      opacity: 1;
    }
    canvas {
      transform: translateY(0px);
      opacity: 1;
      transition: all ease 0.8s;
    }
  }
  .content-pin {
    backface-visibility: hidden;
    will-change: transform;
    transform: translateZ(0);
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 3;
    position: relative;

    h1 {
      background: linear-gradient(270deg, #5a1c4f 9.4%, #e13d44 99.62%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      max-width: 335px;

      @media (min-width: 768px) {
        max-width: 690px;
      }

      @media (min-width: 1200px) {
        max-width: 714px;
      }
    }

    button {
      margin-top: 40px;
      padding: 12px 24px 12px 12px !important;

      .icon-wrap-bg {
        background: var(--bg-brand-hover-l) !important;
      }
    }

    & > * {
      transition-timing-function: cubic-bezier(0, 0, 0.35, 1) !important;
      transition-duration: 0.5s;
      transition-property: all;
    }
  }

  &__video {
    margin-top: 80px;
    min-height: 236px;

    @media (min-width: 1200px) {
      display: none;
    }
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
  .scrub-video {
    position: fixed;
    top: 98px;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .canvas-wrapper {
    display: none;

    @media (min-width: 1200px) {
      display: block;
      position: fixed;
      top: 98px;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      // transition-timing-function: cubic-bezier(0, 0, 0.35, 1) !important;
      // transition-duration: 0.8s;
      // transition-property: all;
    }
    .animated {
      height: 100%;
    }
  }
}

.watch-demo-modal {
  max-height: 80vh !important;
  max-height: unset;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1200px !important;
  background: transparent !important;
  padding: 0;
  border-radius: 0 !important;
  height: auto !important;
  overflow: visible !important;

  .watch-demo__modal-content {
    padding: 0;
  }

  .icon-wrap-bg {
    @media (min-width: 1200px) {
      right: -40px !important;
      top: 0 !important;
    }
  }

  .controls-container {
    position: absolute;
    display: flex;
    align-items: center;
    gap: 16px;
    z-index: 9;
    justify-content: center;
    bottom: 20px;
    width: 100%;

    @media (min-width: 1200px) {
      bottom: 80px;
    }

    img {
      width: 32px;
      height: 32px;
      cursor: pointer;

      @media (min-width: 1200px) {
        width: 64px;
        height: 64px;
      }
    }
  }
}
