.main-header,
.main-footer {
  background: rgba(21, 14, 18, 0.3);
  backdrop-filter: blur(12px);
  padding: 32px 0;

  @media (min-width: 1200px) {
    padding: 24px 0;
  }

  .container {
    justify-content: space-between;
    align-items: center;
    display: flex;
  }

  .header-brand-logo {
    max-width: 206px;
    width: 100%;

    img {
      width: 100%;
    }
  }
}

.main-header {
  z-index: 99;
  position: relative;
}
