.ieq-skills {
  // margin-top: 100vh;
  height: 100%;
  z-index: 2;
  position: relative;

  @media (min-width: 1200px) {
    min-height: 1069px;
  }
  .skill-set-item {
    p {
      max-width: 215px;
      min-width: 215px;
      margin-top: 24px;
      padding: 0 20px;
    }
  }

  .button--secondary {
    color: var(--text-primary-l) !important;
    border: 1px solid var(--bg-icon-1-l) !important;
  }

  .skill-button-wrap {
    margin-top: 52px;
  }
}
