.ieq-brand-cards {
  &__title {
    h1 {
      max-width: 335px;
      margin: 0 auto;

      @media (min-width: 1200px) {
        max-width: 580px;
      }
    }
  }
  .brand-card-1 {
    padding: 160px 0;
    border-radius: 40px;
    background: linear-gradient(149deg, #460e3c 3.03%, #e13d44 117.74%);

    p {
      max-width: 220px;
      margin: 0 auto;
    }
  }

  .brand-card-2 {
    border-radius: 40px;
    background: var(--bg-variant2-d);
    padding: 24px 16px;
    height: 100%;

    @media (min-width: 768px) {
      padding: 56px 44px 40px 62px;
    }

    .skill-prop {
      display: flex;
      margin-top: 32px;
      gap: 60px;
      position: relative;

      div {
        &:first-child {
          h4 {
            background: linear-gradient(82deg, #12a5e8 19.3%, #49edd6 95.55%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }
        }

        &:nth-child(2) {
          h4 {
            background: linear-gradient(94deg, #5a1c4f -37.28%, #e13d44 79.09%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }
        }
      }

      p {
        margin-top: 8px;
      }

      &::before {
        content: '';
        position: absolute;
        background: #bdbdbd;
        width: 1.045px;
        height: 78px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    button {
      margin-top: 54px;
    }
  }

  .animated {
    height: 100%;
  }
}

.hire-metrics__modal-content {
  .modal-title {
    max-width: 270px;

    @media (min-width: 768px) {
      max-width: 570px;
    }
  }
  .metrics-info {
    & > div {
      display: flex;
      align-items: flex-start;
      gap: 10px;
    }
    .text-body {
      margin-top: 16px;
    }
  }

  .metrics-wrap {
    margin-top: 40px;

    @media (min-width: 768px) {
      margin-top: 72px;
    }
  }
}
