.ieq-cardslider {
  // padding: 160px 0 160px 0;
  align-items: center;
  display: flex;
  z-index: 3;
  padding-top: 80px;
  overflow: hidden;
  backface-visibility: hidden;
  will-change: transform;
  transform: translateZ(0);

  @media (max-width: 1199px) {
    position: relative;
  }

  @media (min-width: 768px) {
    padding-top: 120px;
  }

  @media (min-width: 1200px) {
    margin-top: -100vh;
    overflow: hidden;
    height: 100vh;
    padding-top: 0;
  }
  .slider-wrapper {
    gap: 76px;
    @media (min-width: 1200px) {
      max-height: 605px;
    }
    .ant-col {
      height: 100%;
    }
  }

  .image-list-wrapper {
    height: 100%;
    @media (min-width: 1200px) {
      max-height: 605px;
    }

    .image-list {
      &__item {
        // position: sticky;
        // top: calc(13vh + 80px);

        margin-bottom: 80px;
        position: relative;

        &:nth-child(1) {
          z-index: 1;
        }
        &:nth-child(2) {
          z-index: 2;
        }
        &:nth-child(3) {
          z-index: 3;
        }

        .image-wrapper {
          img {
            width: 100%;
            height: 100%;
          }
        }
        .mobile-content {
          margin-top: 40px;
          display: flex;
          flex-direction: column;
          gap: 32px;

          @media (min-width: 1200px) {
            display: none;
          }

          h3 {
            max-width: 450px;
          }
          button {
            width: 100%;
          }
        }
      }
    }
  }
  .content-list-wrapper {
    display: none;
    overflow: hidden;
    min-height: 609px;
    z-index: 9;

    // &::before {
    //   content: '';
    //   position: absolute;
    //   background: var(--bg-surface);
    //   width: 100%;
    //   height: 50px;
    //   opacity: 0.5;
    //   top: 0;
    //   box-shadow: 32px 92px 190px 8px rgb(21 14 18);
    //   z-index: 9;
    // }
    // &::after {
    //   content: '';
    //   position: absolute;
    //   background: var(--bg-surface);
    //   width: 100%;
    //   height: 50px;
    //   opacity: 0.5;

    //   bottom: 0;
    //   box-shadow: 32px 92px 190px 8px rgb(21 14 18);
    //   z-index: 9;
    // }

    @media (min-width: 1200px) {
      display: flex;
      align-items: center;
    }
    .content-list {
      display: flex;
      flex-direction: column;
      max-height: 609px;
      overflow: hidden;
      // gap: 80px;

      &__item {
        transition-timing-function: cubic-bezier(0, 0, 0.35, 1) !important;
        transition-duration: 0.8s;
        transition-property: all;
        height: 100%;
        min-height: 609px;
        display: flex;
        align-items: center;

        div {
          display: flex;
          flex-direction: column;
          gap: 40px;

          h3 {
            max-width: 450px;
          }

          p {
            max-width: 524px;
          }
        }

        button {
          max-width: 348px;
          padding: 12px 12px 12px 24px;
        }
      }
    }
  }
}

.card-stack-modal {
  max-width: 456px !important;
  min-height: 424px !important;

  @media (min-width: 768px) {
    min-height: 594px !important;
  }
  .text-body-bold {
    text-transform: uppercase;
  }
  .text-body {
    margin-top: 16px;
  }
  button {
    margin-top: 32px;
    color: var(--text-primary-l) !important;
    border-color: var(--text-primary-l) !important;
  }

  .icon-wrap-bg {
    bottom: 24px !important;
    right: 24px !important;
    top: unset !important;
  }
}
