.ieq-softskills {
  &__buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
  }

  .primary-title {
    max-width: 400px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .button--secondary {
    color: var(--text-primary-l) !important;
    border: 1px solid var(--bg-icon-1-l) !important;
  }
}
