.ieq-softskills {
  &__buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
  }

  &__list {
    .animated {
      // transition: all ease 0.8s;
      transition: all cubic-bezier(0.65, 0.05, 0.36, 1) 0.8s;
      &:not(:last-child) {
        margin-bottom: 24px;
      }
    }
  }
}
