.ieq-softskills {
  z-index: 8;
  position: relative;
  border-radius: 32px;
  transition-timing-function: cubic-bezier(0, 0, 0.35, 1) !important;
  transition-duration: 0.8s;
  transition-property: all;
  &__title {
    p {
      margin-top: 40px;
      // max-width: 546px;
      // margin: 0 auto;
    }
  }
  &__buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    margin-top: 40px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .button--secondary {
    color: var(--text-primary-l) !important;
    border: 1px solid var(--bg-icon-1-l) !important;
  }
}
