.ieq-company-softskill {
    background-color: var(--text-white-l);

    .softSkillImg {
        object-fit: cover;
        border-radius: 40px;
        height: 226px;
        @media (min-width: 768px) {
            height: 353px;
        }
        @media (min-width: 1200px) {
            height: 388px;
        }
    }

    &__content {
        h2 {
            color: #1A1A1A;
            @media (max-width: 1199px) {
                text-align: center;
            }
        }

        p {
            @media (max-width: 1199px) {
                text-align: center;
            }
            width: 100%;
            margin-top: 24px;
            color: #666;
        }
    }
}