.ieq-datadriven {
  // .pin-container {
  //   transform: none !important;
  // }

  h1 {
    max-width: 658px;
    margin: 0 auto;
  }
  .slider-content-item-wrap {
    .slider-content-item {
      padding-bottom: 40px;
      &:not(:last-child) {
        border-bottom: 1px solid #2d272b;
      }

      &:not(:first-child) {
        padding-top: 25px;
      }
      p {
        max-width: 360px;
        margin-top: 16px;
      }

      button {
        margin-top: 32px;
        max-width: 312px;
        width: 100%;
      }
    }
  }

  .slider-image-item {
    position: absolute;
    top: 0;
    left: 0;
  }
}
