.ieq-auto-slider {
  padding-bottom: 100px;

  @media (min-width: 768px) {
    padding-bottom: 160px;
  }

  .slider-wrapper {
    width: 100%;
    & > div {
      width: 100%;
    }
  }
  .container {
    display: flex;
    justify-content: center;
  }

  .carousel-prev {
    &::before {
      background-image: url(../../../../assets/images/shared/arrow-left-white.svg) !important;
    }
  }
  .carousel-next {
    &::before {
      background-image: url(../../../../assets/images/shared/arrow-left-white.svg) !important;
    }
  }

  .slider-card {
    @media (max-width: 767px) {
      flex-direction: column-reverse !important;
    }
  }

  .carousel-track {
    min-height: 840px;

    @media (min-width: 768px) {
      min-height: 700px;
    }

    @media (min-width: 1200px) {
      min-height: 590px;
    }
  }

  .slider-card {
    button {
      @media (max-width: 767px) {
        width: 100%;
      }
    }
  }
}
