.ieq-product-simulation {
  .simulation-content {
    p {
      margin-top: 32px;
    }
  }

  .simulation-card {
    padding-top: 48px;
    border-top: 1px solid #505050;
  }
  .simulationImg-wrapper{
    height: 282px;
    width: 335px;
    @media (min-width: 768px) {
      height: 371px;
      width: 441px;
    }
    @media (min-width: 1200px) {
      height: 485px;
      width: 576px;
    }
    img {
      object-fit: cover;
    }
  }
}
