.main-footer {
  background: rgba(58, 56, 57, 0.7);
  backdrop-filter: blur(3.5px);
  padding: 40px 0;

  @media (min-width: 768px) {
    padding: 60px 0;
  }

  @media (min-width: 1200px) {
    padding: 90px 0;
  }
}
