.ieq-product-simulation {
  .simulation-content {
    p {
      margin-top: 32px;
    }
    button {
      margin-top: 40px;
    }
  }

  .simulation-card {
    padding-top: 48px;
    border-top: 1px solid #505050;
    p {
      max-width: 352px;
      margin-top: 16px;
    }
    h4 {
      letter-spacing: 0.32px;
    }
  }
}
