.ieq-product-ai {
  margin-top: -2px;
  padding-top: 80px;
  &__title {
    max-width: 335px;

    @media (min-width: 768px) {
      max-width: 456px;
    }
    margin: 0 auto;
    p {
      margin-top: 16px;
    }
  }

  .ai-card {
    background: var(--bg-variant1-l);
    border-radius: 20px;
    padding: 56px 40px;
    flex-direction: column;

    h3 {
      margin-top: 32px;
    }

    p {
      margin-top: 16px;
    }
  }
}
